<.header>
  <%= gettext("Campañas") %>
  <:actions>
    <.link patch={~p"/campaigns/new"}>
      <.button><%= gettext("Nueva campaña") %></.button>
    </.link>
  </:actions>
</.header>

<div
  id="campaign-cards"
  phx-update="stream"
  class="grid grid-flow-row gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 m-10"
>
  <div
    :for={{_id, campaign} <- @streams.campaigns}
    class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="h-full flex flex-col items-center justify-between pb-10 pt-10">
      <img
        class="w-24 h-24 mb-3 rounded-full shadow-lg"
        src={"https://indplatformpamlsaiaem.blob.core.windows.net/advantage/#{campaign.filename}"}
        alt="Campaign name"
      />
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"><%= campaign.name %></h5>
      <div class="grow px-4 text-center">
        <span class="text-sm text-gray-500 dark:text-gray-400"><%= campaign.description %></span>
      </div>
      <div class="flex mt-4 md:mt-6">
        <.link
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          navigate={~p"/campaigns/#{campaign}"}
        >
          <%= gettext("Detalle") %>
        </.link>
        <.link
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3"
          phx-click={JS.push("delete", value: %{id: campaign.id}) |> hide("##{campaign.id}")}
          data-confirm={gettext("¿Borrar campaña?")}
        >
          <%= gettext("Borrar") %>
        </.link>
      </div>
    </div>
  </div>
</div>

<.modal
  :if={@live_action in [:new, :edit]}
  id="campaign-modal"
  show
  on_cancel={JS.patch(~p"/campaigns")}
>
  <.live_component
    module={AdVantageWeb.CampaignLive.FormComponent}
    id={@campaign.id || :new}
    title={@page_title}
    action={@live_action}
    campaign={@campaign}
    patch={~p"/campaigns"}
  />
</.modal>
