<.header>
  Validación de <%= @campaign.name %> - <%= @variation.name %>
</.header>

<div class="flex-col gap-8">
  <div class="text-center">
    Master
    <img src={"https://indplatformpamlsaiaem.blob.core.windows.net/advantage/#{@campaign.filename}"} />
  </div>

  <div class="text-center">
    Variación
    <img src={"https://indplatformpamlsaiaem.blob.core.windows.net/advantage/#{@campaign_variation.filename}"} />
  </div>
</div>

<.list>
  <:item title={gettext("Estado")}><%= @validation.status %></:item>
  <:item title={gettext("Fecha")}><%= @validation.inserted_at %></:item>
  <:item title={gettext("Validez")}>
    <span :if={@validation.valid_rate}><%= @validation.valid_rate * 100 %>%</span>%
  </:item>
  <:item title={gettext("Errores")}>
    <.inner_list>
      <:item :for={{key, text} <- parse_errors(@validation.results)} title={key}>
        <%= text %>
      </:item>
    </.inner_list>
  </:item>
  <:item title={gettext("Contenido de la respuesta")}><%= @validation.message %></:item>
  <:item title={gettext("Contenido de la respuesta")}><%= @validation.raw_results %></:item>
</.list>

<.back navigate={~p"/campaigns/#{@campaign.id}/variations/#{@campaign_variation.id}"}>
  <%= gettext("Volver a la variación") %>
</.back>

<.modal
  :if={@live_action == :edit}
  id="validation-modal"
  show
  on_cancel={JS.patch(~p"/validations/#{@validation}")}
>
  <.live_component
    module={AdVantageWeb.ValidationLive.FormComponent}
    id={@validation.id}
    title={@page_title}
    action={@live_action}
    validation={@validation}
    patch={~p"/validations/#{@validation}"}
  />
</.modal>
